<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>drone8</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Giacomo Mutti</name>
  </author>
  <author>
    <name>Pierfrancesco Oselin</name>
  </author>
  <author>
    <name>Riccardo Periotto</name>
  </author>

  <description>
    A copy of the 3DR Iris model taken from
    https://github.com/PX4/sitl_gazebo/tree/master/models
    Local modifications include adding standoffs,
    inertia and collision updates..
  </description>
</model>